.el-main {
  padding: 0;
  width: 100%;
  display: flex;
  /*height: 100%;*/
}
.el-aside {
  width: 20%;
  padding-left: 0;
}
.left_menu, .el-col, .el-menu, .el-aside{
  height: 100%;
}
.el-col {
  width: 100%;
}
.left {
  width: 20%;
}
.right {
  width: 80%;
  height: 100%;
}
.el-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.el-divider {
  margin-top: 0;
}

.el-table {
  display: flex;
  flex-direction: column;
}

.el-row {
  width: auto;
  background-color: #B3C0D1;
  margin: 10px;
  height: 50px;
  display: flex;
}
